<banner>
  <h3>
    <%= @user.username %>
  </h3>
</banner>

<content>
  <ul class="donations">
    <% @donations.each do |donation| %>
      <li>
        Donated <%= donation.amount %> to <%= donation.organization.name %>
      </li>
    <% end %>
  </ul>

  <ul class="reviews">
    <% @reviews.each do |review| %>
      <li>
        <%= review.organization.name %>:
        Score: <%= review.score%>
        <%= review.text%>
    <% end %>
  </ul>
</content>
