<% if @top_organization %>
  <header>
    </br>
      <h2>
        Featured Organization
      </h2>
      <div class="featured">
        <div>
          <h2>
            <%= link_to  "#{@top_organization.name}", organization_path(@top_organization) %>
            </br>
            <h3>
              <%= button_to "Donate", new_organization_donation_path(@top_organization), method:'get' %>
            </h3>
          </h2>
        </div>
        <h4>
          <%= @top_organization.description %>
        </h4>
      </div>
    </br>
  </header>
  <%= render partial: "/partials/flash" %>
  <content>
    <h3 class='title'>
      Top Organizations
    </h3>
    <ul class="top_organizations">
      <% @top_orgs.each do |organization| %>
        <li>
          <h3>
            <%= link_to "#{organization.name}", organization_path(organization) %>:
          </h3>
          <h4>
            <%= organization.description %>
          </h4>
        </li>
      <% end %>
    </ul>
  </content>
<% end %>