<% if @top_organization %>
  <banner>
    </br>
      <h3>
        <%= link_to  "#{@top_organization.name}", organization_path(@top_organization) %>
      </h3>
      <%= @top_organization.description %>
      <%= link_to "Help", organization_path(@top_organization) %>
    </br>
  </banner>

  <content>
    <ul class="top_organizations">
      <% @top_orgs.each do |organization| %>
        <li>
          <%= link_to "#{organization.name}", organization_path(organization) %>:
          <%= organization.description %>
        </li>
      <% end %>
    </ul>
  </content>
<% end %>