<header>
  <h3>
    <%= @organization.name %>
  </h3>
  <h5>
    <%= @organization.description %>
  </h5>
  <h6>
    Average User Score: <%= @average_score %>
  </h6>
  <h3>
    <%= link_to "Donate", new_organization_donation_path(@organization)%>
  </h3>
  <% if current_admin? %>
    <%= link_to  "Edit This Organization", edit_admin_organization_path %>
    <%= link_to  "Delete This Organization", admin_organization_path(@organization), method:'delete'%>
  <% end %>
</header>
<%= render partial: "/partials/flash" %>
<content>
  <% if current_user %>
    <%= form_for [@organization, @review] do |f| %>
      <%= f.label "Review"%>
      <%= f.text_area :text %>

      <%= f.label :score %>
      <%= f.number_field :score %>

      <%= f.submit "Submit Review"%>
    <% end %>
  <% end %>
  <div class="reviews">
    <h4>
      User Reviews
    </h4>
    <ul>
      <% @reviews.each do |review| %>
        <li>
          <h4>
            <%= review.user.username %>:
          </h4>
          <h5>
            <%= review.text %>
          </h5>
          <h6>
            Score: <%= review.score %>
          </h6>
          <% if current_admin? %>
            <%= link_to  "Delete this Review", admin_organization_review_path(@organization,review), method:'delete'%>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</content>