<banner>
  <h3>
    <%= @organization.name %>
  </h3>
  <h5>
    <%= @organization.description %>
  </h5>
  <p>
    Average User Score: <%= @average_score %>
  </p>
  <% if current_admin? %>
    <%= link_to  "Edit This Organization", edit_admin_organization_path %>
    <%= link_to  "Delete This Organization", admin_organization_path(@organization), method:'delete'%>
  <% end %>
</banner>
<content>





  <%= link_to "Donate", new_organization_donation_path(@organization)%>
  <% if current_user %>
    <%= form_for [@organization, @review] do |f| %>
      <%= f.label :text %>
      <%= f.text_area :text %>

      <%= f.label :score %>
      <%= f.number_field :score %>

      <%= f.submit "Submit Review"%>
    <% end %>
  <% end %>


  <div class="reviews">
    <ul>
      <% @reviews.each do |review| %>
        <li>
          <%= review.user.username %>:
          <%= review.text %>
          <h3>
            Score: <%= review.score %>
          </h3>
          <% if current_admin? %>
            <%= link_to  "Delete this Review", admin_organization_review_path(@organization,review), method:'delete'%>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<content>